body {
  background-color: #c41e3a;
  color: black;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 5px;
  text-align: center;
}

footer {
  color: black;
  text-align: right;
  margin: 15px;
}

image {
  height: 70px;
  width: 200px;
  float: left;
}

.title {
  text-align: center;
  position: relative;
}

.grid {
  width: 200px;
  height: 500px;
  display: grid;
  position: fixed;
}

.box {
  background-color: white;
  color: black;
}
