/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 2;
}

.list {
  text-align: center;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ecd9c6;
  color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  margin: 0;
  font-size: 24px;
}

p {
  max-width: 600px;
}

h1 {
  font-size: 2.5em;
  margin: 5px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

h5 {
  text-align: center;
  margin-right: 14%;
  margin-left: 14%;
  font-size: 2vw;
}

h6 {
  font-size: 1.5vw;
}

h2 {
  font-size: 1.5vw;
  text-align: center;
}

h1 {
  font-size: 3.5vw;
}

.introboi {
  font-size: 3.0vw;
}

nav {
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-height: 150px;
  text-align: center;
  padding: 10px;
  border: 5px;
  overflow: hidden;
  font-size: 1.5vw;
}

.biggie {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.caleb {
  display: inline;
  position: relative;
}

.jadon {
  display: inline-block;
  position: relative;
}

.grid image {
  height: 100% !important;
  width: 100% !important;
}

.title {
  text-align: center;
  position: relative;
}

.zak h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.6em;
}

h4 {
  font-family: 'Inconsolata', monospace;
  text-align: left;
}

.grid {
  width: 15%;
  height: 60%;
  max-width: 20%;
  min-width: 10%;
  max-height: 40%;
  min-height: 15%;
  display: grid;
  position: fixed;
  text-decoration: none;
  font-size: 1.5vw;
}

.grid:hover {}

.box_a, .box_b, .box_c, .box_d, .box_e, .box_f {
  background-color: white;
  color: black;
  font-family: 'Fira Sans', sans-serif;
  opacity: .6;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 60% !important;
  min-width: 30% !important;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.box_a {
  opacity: 1 !important;
}

.box_b:hover, .box_c:hover, .box_d:hover, .box_e:hover, .box_f:hover {
  opacity: 1;
}

.text {
  color: #f2f2f2;
  font-size: 1vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 40%;
  display: inline-block;
  background-color 0.6s ease;
  bottom: 40%
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.young {
  display: inline-block;
  margin: 10px;
  margin-top: 50px;
}

.youngintro {
  display: inline-block;
  position: relative;
  top: -50px;
  text-align: left;
  font-size: 1vw;
}

.youngintro h1 {
  text-align: left;
  margin: 0px;
}

.fly {
  display: inline-block;
  margin: 10px;
}

.flyintro {
  display: inline-block;
  position: relative;
  top: -50px;
  text-align: right;
  font-size: 1vw;
}

.flyintro h1 {
  text-align: right;
  margin: 0px;
}

.bird image {
  max-width: 60%;
  min-width: 50%;
  max-height: 20%;
  min-height: 10%;
}

.dramaintro p, .filmintro p {
  margin-right: 26%;
  margin-left: 26%;
  font-size: 1.5vw;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

footer {
  color: black;
  text-align: right;
  margin: 15px;
}

.menu2 ul li {
  list-style: none;
  display: block;
  float: left;
  line-height: 100px;
}

.menu2 ul li a {
  text-decoration: none;
  font-size: 1.5vw !important;
  font-family: arial;
  color: #1e1e1e;
  padding: 0 20px;
  display: block;
}

.social {
  max-width: 10%;
  min-width: 5%;
  max-height: 10%;
  min-height: 5%;
}

.aboutthing {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.castlist {
  position: relative;
  margin-right: 40%;
}

.schedule {}

.scheduleintro {
  text-align: center;
  position: relative;
  margin-left: 40%;
  margin-right: 35%;
  font-size: 2vw;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

@media only screen and (width: 400px) {
  .youngintro h2, .flyintro h2 {
    font-size: 9px
  }
}

/* adjust for iphoneX and below */
@media only screen and (max-width: 415px) {
  body {
    background-color: #ecd9c6;
    color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: 0;
    font-size: 24px;
  }

  p {
    max-width: 600px;
  }

  h1 {
    font-size: 14px;
    margin: 5px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }

  h5 {
    text-align: center;
    margin-right: 14%;
    margin-left: 14%;
    font-size: 2vw;
  }

  h6 {
    font-size: 1.5vw;
  }

  h2 {
    font-size: 1.5vw;
    text-align: center;
  }

  .introboi {
    font-size: 3.0vw;
  }

  nav {
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-height: 150px;
    text-align: center;
    padding: 10px;
    border: 5px;
    overflow: hidden;
    font-size: 1.5vw;
  }

  .biggie {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
  }

.caleb, .jadon {
  z-index:2;
}

  .caleb {
    display: inline;
    position: relative;
  }

  .jadon {
    display: inline-block;
    position: relative;
  }

  .title {
    text-align: center;
    position: relative;
  }

  .zak h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6em;
  }

  h4 {
    font-family: 'Inconsolata', monospace;
    text-align: left;
  }

  .grid {
    width: 450px;
    height: 200px;
    display: grid;
    position: fixed;
    text-decoration: none;
    font-size: 10px;
    z-index: 1;
  }

  .grid:hover {}

  .box_a, .box_b, .box_c, .box_d, .box_e, .box_f {
    background-color: white;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    opacity: .6;
  }

  * {
    box-sizing: border-box;
  }

  .mySlides {
    display: none;
  }

  .slideshow-container {
    max-width: 250px !important;
    min-width: 200px !important;
    position: relative;
    margin-top: -100px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .box_a {
    opacity: 1 !important;
  }

  .box_b:hover, .box_c:hover, .box_d:hover, .box_e:hover, .box_f:hover {
    opacity: 1;
  }

  .text {
    color: #f2f2f2;
    font-size: 1vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    display: none;
  }

.upcoming h2 {
  font-size: 12px;
  margin-top:-50px;
}

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .young {
    display: inline-block;
    margin: 10px;
    margin-top: 50px;
  }

  .youngintro {
    display: inline-block;
    position: relative;
    top: -50px;
    text-align: left;
    font-size: 1vw;
  }

  .youngintro h1 {
    text-align: left;
    margin: 0px;
  }

  .fly {
    display: inline-block;
    margin: 10px;
  }

  .flyintro {
    display: inline-block;
    position: relative;
    top: -50px;
    text-align: right;
    font-size: 1vw;
  }

  .flyintro h1 {
    text-align: right;
    margin: 0px;
  }

  .bird image {
    max-width: 60%;
    min-width: 50%;
    max-height: 20%;
    min-height: 10%;
    margin-top: 50px;
  }

  .dramaintro p, .filmintro p {
    margin-right: 26%;
    margin-left: 26%;
    font-size: 1.5vw;
}
    .menu2 ul li a {
      text-decoration: none;
      font-size: 8px !important;
      font-family: arial;
      color: #1e1e1e;
      padding: 0 10px;
      display: block;
    }
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  footer {
    color: black;
    text-align: right;
    margin: 15px;
  }

  .social {
    max-width: 10%;
    min-width: 5%;
    max-height: 10%;
    min-height: 5%;
  }

  .aboutthing {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .castlist {
    position: relative;
    margin-right: 40%;
  }

  .schedule {}

  .scheduleintro {
    text-align: center;
    position: relative;
    margin-left: 40%;
    margin-right: 35%;
    font-size: 2vw;
  }
}
