


body {
  background-color: #bfbfbf;
  color: black;
  text-align: center;
}

.container {
  color: black;
}

.container1 {
  color: #005ce6;
  width: 100%;
}

footer {
  color: black;
  text-align: left;
  margin: 15px;

}
